@inherits LayoutComponentBase
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager _navManager
@using FinalProject.Components.Pages.Objects

<PageTitle>WebLibrary</PageTitle>

<!-- Component -->
@if (_navManager.Uri.Contains("popup.html"))
{
    <div class="popup">
        @Body
    </div>
}
else
{
    <div class="page">
        <nav class="sidebar">
            <div class="root-folder-container">
                <Folder @ref="rootFolderComponent" Class="root" Name="Your Bookmarks" Items=@RootFolder/>
            </div>
        </nav>

        <main>
            <header class="header">
                <a href="https://github.com/bnguye40-uncc/itcs3122-finalproject" target="_blank">About this project.</a>
            </header>
            <article class="content">
                @Body
            </article>
        </main>
    </div>
}

<!-- C# -->
@code {
    private List<AbstractFolderItem> RootFolder = new List<AbstractFolderItem>();
    private List<AbstractFolderItem> test = new List<AbstractFolderItem> {
        new Bookmark(),
        new Folder()
    };
    private Folder? rootFolderComponent;

    protected override async Task OnInitializedAsync()
    {
        string rootFolderKey = "root-folder";
        await localStorage.SetItemAsync<List<AbstractFolderItem>>(rootFolderKey, test);
        RootFolder = await localStorage.GetItemAsync<List<AbstractFolderItem>>(rootFolderKey);
    }
}