.page {
    display: grid;
    min-height: 100dvh;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "a b"
        "a c";
}

.sidebar {
    grid-area: a;
    display: flex;
    flex-direction: column;
    min-width: 360px;
    padding: 2em 2em 0 2em;
    background-color: #3b3a3d;
}

.header {
    grid-area: b;
    width: auto;
    min-width: 480px;
    height: fit-content;
    background-color: #381e24;
    border-bottom: solid #502f37;
}

.header-container {
    display: flex;
    flex-direction: row;
    padding: 1.2em;
}

.header-title {
    display: flex;
    flex: 1 1 100%;
    flex-direction: row;
    margin: 0 1.5em;
    align-items: last baseline;
    justify-content: space-between;
    > h1 {
        font-size: 24pt;
    }
}

.content {
    grid-area: c;
    width: auto;
    min-width: 480px;
    padding: 3em 1em 1em 3em;
    background-color: #29292c;
}