@inherits LayoutComponentBase
@inject Blazored.LocalStorage.ILocalStorageService _localStorage
@inject NavigationManager _navigationManager
@using FinalProject.Components.Pages.Objects

<PageTitle>WebLibrary</PageTitle>

@if (_navigationManager.Uri.Contains("popup.html"))
{
    <div class="popup">
        @Body
    </div>
}
else
{
    <div class="page">
    
        <nav class="sidebar">
            <div class="root-folder-container">
                <CascadingValue Value="this">
                    <Folder Class="root folder" Name="Your Bookmarks" Items=@RootFolder/>
                </CascadingValue>
            </div>
        </nav>

        <header class="header">
            <div class="header-container">
                <img class="logo" src="images/logo.svg" width="48" height="48"/>
                <div class="header-title">
                    <h1>WebLibrary</h1>
                    <a href="https://github.com/bnguye40-uncc/itcs3122-finalproject" target="_blank">About this project.</a>
                </div>
            </div>
        </header>

        <article class="content">
            <CascadingValue Value="this">
                @Body
            </CascadingValue>
        </article>

        <div class="margin"></div>
    </div>
}