@inherits LayoutComponentBase

<PageTitle>WebLibrary</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://github.com/bnguye40-uncc/itcs3122-finalproject" target="_blank">About this project.</a>
        </div>

        <article class="content px-4">
            <CascadingValue Value="@AllTemplates">
                @Body
            </CascadingValue>
        </article>
    </main>
</div>

@code {
    private List<Template> AllTemplates = new List<Template>();
}