@inherits LayoutComponentBase
@inject Blazored.LocalStorage.ILocalStorageService _localStorage
@inject NavigationManager _navigationManager
@using FinalProject.Components.Pages.Objects

<PageTitle>WebLibrary</PageTitle>

<!-- Component -->
@if (_navigationManager.Uri.Contains("popup.html"))
{
    <div class="popup">
        @Body
    </div>
}
else
{
    <div class="page">
        <nav class="sidebar">
            <div class="root-folder-container">
                <CascadingValue Value="this">
                    <Folder Class="root" Name="Your Bookmarks" Items=@RootFolder/>
                </CascadingValue>
            </div>
        </nav>

        <main>
            <header class="header">
                <a href="https://github.com/bnguye40-uncc/itcs3122-finalproject" target="_blank">About this project.</a>
            </header>
            <article class="content">
                <CascadingValue Value="this">
                    @Body
                </CascadingValue>
            </article>
        </main>
    </div>
}

<!-- C# -->
@code {
    public List<AbstractFolderItem> RootFolder = new List<AbstractFolderItem>();
    public string rootFolderKey = "root-folder";

    protected override async Task OnInitializedAsync()
    {
        if (await _localStorage.ContainKeyAsync(rootFolderKey)) {
            RootFolder = await _localStorage.GetItemAsync<List<AbstractFolderItem>>(rootFolderKey);
        } else {
            await _localStorage.SetItemAsync<List<AbstractFolderItem>>(rootFolderKey, RootFolder);
        }   
    }

    public async void UpdateLocalStorage() {
        await _localStorage.SetItemAsync<List<AbstractFolderItem>>(rootFolderKey, RootFolder);
    }
}