.html {
    overflow: auto;
}

.page {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr min-content;
    grid-template-areas:
        "a b"
        "a c";
    column-gap: 2em;
    margin: 30px 90px;
}

.sidebar {
    grid-area: a;
    display: flex;
    flex-direction: column;
    min-width: 240px;
}

.folder-manager {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.header {
    grid-area: b;
    width: auto;
    min-width: 480px;
}

.content {
    grid-area: c;
    width: auto;
    min-width: 480px;
}