.bookmark-header {
    display: flex;
    flex-direction: row;
    * {
        font-size: 20pt;
    }
}

.custom-field-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: max-content;
}

.delete-field {
    display: none;
    background-color: transparent;
    border: none;
}

.custom-field-container:hover {
    > .delete-field {
        display: flex;
    }
}