.bookmark-item-heading:hover {
    background-color: #57555a;
    cursor: pointer;
}

.edit-folder-item, .delete-item, .set-value {
    display: inline-flex;
    padding: 1px;
}

.edit-folder-item {
    opacity: 0;
    pointer-events: none;
}

.hidden {
    display: none;
}

/* If mouse hovers over item in display mode, show edit button. */
.display:hover > .edit-folder-item {
    opacity: 1;
    pointer-events: auto;
}