.bookmark-header {
    display: flex;
    flex-direction: row;
    * {
        font-size: 32pt;
    }
}

.custom-field-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: fit-content;
}

.delete-field {
    float: right;
    display: inline-flex;
    padding: 1px;
    opacity: 0;
    pointer-events: none;
}

.add-field {
    display: flex;
    align-items: center;
    color: lightgray;
    border-radius: 2px;
    margin: .2em 0px;
    > span {
        padding: 0px .4em;
        font-size: 11pt;
    }
}

.add-field:hover {
    color: black;
    background-color: #57555a;
}

.name > .display > .edit-field > img {
    width: 24px;
    height: 24px;
}

/* If mouse hovers over custom field in display mode, display delete button and activate pointer events. */
.custom-field-container:hover:has(.custom-field > .display:not(.hidden)) {
    > .delete-field {
        opacity: 1;
        pointer-events: auto;
    }
}