@inject Blazored.LocalStorage.ILocalStorageService _localStorage
@inject FinalProject.Shared.StateContainer _stateContainer
@inject NavigationManager _navigationManager
@inherits AbstractFolderItem

<div class="bookmark-item-heading">
    <span class="display @showDisplay">
        <NavLink class=@Class @onclick="NavigateToBookmark">
            @Name
        </NavLink>
        <button class="edit-folder-item" @onclick="ToggleEditMode">E</button>
    </span>
    <span class="editing @showEditing">
        <input placeholder="Bookmark Name..." @bind="@newName"/>
        <button @onclick="SetValue">Done</button>
    </span>
</div>