@page "/bookmark"
@page "/bookmark/{SetHashCode:int}"

@inject Blazored.LocalStorage.ILocalStorageService _localStorage
@inject FinalProject.Shared.StateContainer _stateContainer
@inject NavigationManager _navigationManager
@inherits AbstractFolderItem

<div class="bookmark">
    <div class="bookmark-header">
        <Field Class="name" Name="Name" Placeholder="Website name..." @bind-Value="Name" />
    </div>
    <div class="bookmark-contents">

        <Field Class="url" Name="URL" Placeholder="Paste URL here..." @bind-Value="URL" />

        <Field Class="keyword" Name="Keyword" Placeholder="Add a keyword..." @bind-Value="Keyword" />

        <Field Class="description" Name="Description" Placeholder="Write a short description here..." @bind-Value="Description" />

        <div class="custom-fields-list">
            @for (int i = 0; i < CustomFields.Count; i++) {  
                
                var index = i;

                <div @key="CustomFields[index]" class="custom-field-container">
                    <Field Class="custom-field" @bind-Name="CustomFields[index].Name" @bind-Value="CustomFields[index].Value" />
                    <button class="delete-field" @onclick="@(e => DeleteField(index))">
                        <img src="images/delete.svg" width="18" height="18"/>
                    </button>
                </div>
            }
            <button class="add-field" @onclick="AddField">
                <img src="images/add-field.svg" width="16" height="16"/>
                <span> Add Field</span>
            </button>
        </div>

    </div>
</div>
