.bookmark-header {
    display: flex;
    flex-direction: row;
    * {
        font-size: 20pt;
    }
}

.custom-field-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.delete-field {
    float: right;
    display: inline-flex;
    padding: 1px;
    opacity: 0;
    pointer-events: none;
}

/* If custom field is in display mode and mouse is hovering over it, display delete field and activate pointer events. */
.custom-field-container:has(.custom-field > .display:not(.hidden)) {
    > .delete-field {
        opacity: 1;
        pointer-events: auto;
    }
}