.folder-items-list {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.folder-heading:hover {
    background-color: lightgray;
}

.item-container {
    word-break: break-all;
    margin-left: 1.5em;
}

.edit-folder-item, .delete-item, .add-bookmark, .add-folder, .set-value {
    display: inline-flex;
    padding: 1px;
}

.edit-folder-item {
    opacity: 0;
    pointer-events: none;
}

.delete-item, .add-bookmark, .add-folder {
    float: right;
}

.hidden {
    display: none;
}

/* If mouse hovers over item in display mode, show edit button. */
.display:hover > .edit-folder-item {
    opacity: 1;
    pointer-events: auto;
}

/* If folder is root folder, always hide edit button and remove pointer events. */
.folder-heading:has(.display > .root) {
    .display > .edit-folder-item {
        opacity: 0;
        pointer-events: none;
    }
}