@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage

<div class="folder-container"> 
    <NavLink class="@($"folder {Class}")" @onclick="Expand">
        @Name
    </NavLink>

    @if (isExpanded)
    {
        foreach (var item in Items) {
            if (item.IsFolder == true)
            {
                <Folder Class="subfolder" Name="@item.Name" Description="@item.Description" />
            } else {
                <div class="folder-bookmark-item">
                    <NavLink href="/bookmark.html">@item.Name</NavLink>
                </div>
            }
        }
    }
</div>

@code {
    protected override void OnInitialized()
    {   
        localStorage.SetItem(Name, this);
        var folder = localStorage.GetItem<Folder>(Name);

        Items.Add(new Folder());
        Items.Add(new Bookmark());
    }

    private void Expand() {
        isExpanded = !isExpanded;
    }
}