.folder-items-list {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.folder-heading:hover {
    background-color: #57555a;
    cursor: pointer;
    .add-bookmark, .add-folder {
        opacity: 1;
        pointer-events: auto;
    }
}

.edit-folder-item, .delete-item, .add-bookmark, .add-folder, .set-value {
    display: inline-flex;
    padding: 1px;
}

.edit-folder-item {
    opacity: 0;
    pointer-events: none;
}

.add-bookmark, .add-folder, .delete-item {
    float: right;
}

.add-bookmark, .add-folder {
    opacity: 0;
    pointer-events: none;
}

.item-container {
    word-break: break-all;
    padding-left: 1.5em;
}

.hidden {
    display: none;
}

/* If mouse hovers over item in display mode, show edit button. */
.display:hover > .edit-folder-item {
    opacity: 1;
    pointer-events: auto;
}

/* If folder is root folder... */
.folder-heading:hover:has(.display > .root) {
    background-color: transparent;
}

.folder-heading:has(.display > .root) {
    .display > .edit-folder-item { /* Always hide edit button and remove pointer events. */
        opacity: 0;
        pointer-events: none;
    }
    .add-bookmark, .add-folder { /* Always show add bookmark and add folder buttons. */
        opacity: 1;
        pointer-events: auto;
    }
}