<div class="folder-container"> 
    <NavLink class="@($"folder {Class}")" @onclick="Expand">
        @Name
    </NavLink>

    @if (isExpanded)
    {
        <ul>
        @foreach (var item in Items) {
            <li>
            @if (item.IsFolder == true)
            {
                <Folder Class="subfolder" Name="@item.Name" Description="@item.Description" />
            } else {
                <NavLink href="/bookmark">@item.Name</NavLink>
            }
            </li>
        }
        </ul>
    }
</div>

@code {
    private void Expand() {
        isExpanded = !isExpanded;
    }
}
