@page "/"
@inherits IndexPage

<PageTitle>Bookmarks Manager+</PageTitle>

<h1>Your Bookmarks</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    @* Init variables *@
    private int currentCount = 0;

    @* Functions *@
    private void IncrementCount()
    {
        currentCount++;
    }
}